*{
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
}

section {
    height: 300px;
    background-color: aqua;
}

#menu {
    text-decoration: none;
    list-style: none;
}

ul li {
    display: inline;
    padding: 0 20px;
}

h3,a {
    color: yellow;
}

h3{
    margin-left: 15px;
}
a{
    text-decoration: none;
}

nav {
    justify-content:space-between;
    position: fixed;
    height: 50px;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    margin-top:  -1.3em;
    text-align: center;
    display: flex;    
}

li:hover{
    border-bottom: 5px red solid;
    transition: 0.5s;
}